{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="{% static 'adminhub/assets/css/styles.css' %}">
  <title>YTAC</title>
</head>

<body>
  <div class="bg-cover bg-center bg-no-repeat min-h-[100vh]"
    style="background-image: url({% static "adminhub/img/v915-wit-007-e.jpg" %});">
    <main class="p-4 md:p-16 text-zinc-700/90">

      <section class="flex justify-center items-center">
        <img src="{% static 'adminhub/landings/YTAC Logo 2025-2035.ai.png' %}" alt="YTAC Logo" class="w-80">
      </section>

      <section class="flex flex-col gap-3 mb-6">
        <h2 class="text-3xl font-bold ">About the Event</h2>

        <p class="text-zinc-700/75">
          Aimed at students and young enthusiasts, the hackathon provides a platform
          for participants to tackle real-world problems through coding, collaboration, and creativity. By
          combining teamwork with individual skill development, the hackathon encourages participants to
          think critically and develop practical solutions to everyday technical challenges.
        </p>
      </section>

      <section class="flex flex-col gap-3 mb-6">
        <h2 class="text-3xl font-bold ">Categories</h2>

        <li class="flex flex-col items-start mt-5 lg:col-span-1 lg:mt-0">
          <div class="flex items-start">
            <svg class="w-5 h-5 text-teal-600 mt-1" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd" />
            </svg>
            <p class="ml-3 leading-5 text-gray-600">
              Inno-Tech Primary Group: aged 7 - 12 in 2025
            </p>
          </div>
          <ul class="ml-8 mt-1 text-gray-600 list-disc">
            <li>Software</li>
            <li>Hardware</li>
          </ul>
        </li>

        <li class="flex flex-col items-start mt-5 lg:col-span-1 lg:mt-0">
          <div class="flex items-start">
            <svg class="w-5 h-5 text-teal-600 mt-1" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd" />
            </svg>
            <p class="ml-3 leading-5 text-gray-600">
              Inno-Tech Secondary Group: aged 13 - 18 in 2025
            </p>
          </div>
          <ul class="ml-8 mt-1 text-gray-600 list-disc">
            <li>Software</li>
            <li>Hardware</li>
          </ul>
        </li>

        <li class="flex flex-col items-start mt-5 lg:col-span-1 lg:mt-0">
          <div class="flex items-start">
            <svg class="w-5 h-5 text-teal-600 mt-1" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd" />
            </svg>
            <p class="ml-3 leading-5 text-gray-600">
              Tech-Hackathon: aged 7 - 18 in 2025 (NEW)
            </p>
          </div>
          <ul class="ml-8 mt-1 text-gray-600 list-disc">
            <li>Teams must 2 members</li>
            <li>Solve real-world problems and prototype solutions within a limited time.</li>
          </ul>
        </li>

        <li class="flex flex-col items-start mt-5 lg:col-span-1 lg:mt-0">
          <div class="flex items-start">
            <svg class="w-5 h-5 text-teal-600 mt-1" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd" />
            </svg>
            <p class="ml-3 leading-5 text-gray-600">
              Mikrobotics Challenge
            </p>
          </div>
          <ul class="ml-8 mt-1 text-gray-600 list-disc">
            <li>Teams must 2 members</li>
            <li>Mission Challenge on map</li>
          </ul>
        </li>

      </section>

      <section class="flex flex-col gap-3 mb-6">
        <h2 class="text-3xl font-bold ">Rules and Regulations</h2>

        <p class="text-zinc-700/75">
          Complete rules and regulations can be found from the handbook below.
        </p>

        <a href="https://drive.google.com/file/d/12tAUa0Jz5A78kftdowCFNQ7hdx_OWKru/view" target="_blank"
          class="group inline-flex items-center gap-1 text-sm font-medium text-blue-600">
          Find out more
          <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
            &rarr;
          </span>
        </a>
      </section>

      <div class="flex justify-center items-center">
        <a href="{% url "landing_home" %}"
          class="bg-white text-center w-48 rounded-2xl h-14 relative text-black text-xl font-semibold group">
          <div
            class="bg-teal-600 rounded-xl h-12 w-1/4 flex items-center justify-center absolute left-1 top-[4px] group-hover:w-[184px] z-10 duration-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" height="25px" width="25px">
              <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" fill="#000000"></path>
              <path
                d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
                fill="#000000"></path>
            </svg>
          </div>
          <p class="translate-x-3 translate-y-3">Go Back</p>
        </a>
      </div>
    </main>
  </div>
</body>

</html>